:root {
  --bg-color: white;
  --text-color: black;
  --border-color: black;
  --link-color: blue;
  --visited-link-color: purple;

  --base-font-size: 16px;
  --line-height: 1.5;
  --leading: calc(var(--base-font-size) * var(--line-height));
}

* {
  line-height: var(--line-height);
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: var(--base-font-size);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 1rem auto;
  max-width: 35rem;
}

/* Text styles */

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: var(--leading);
}

h1 > small {
  display: block;
  opacity: 0.6;
}

a {
  text-underline-position: under;
  color: var(--link-color);
}

a:visited {
  color: var(--visited-link-color);
}


/* Images, figures, and media */

figure {
  margin: 2rem;
}

figure > figcaption {
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

/* Forms */

fieldset {
  margin-bottom: var(--leading);
}

fieldset > legend {
  margin-bottom: 0;
}

label {
  display: flex;
  align-items: baseline;
  margin-top: 0.5rem;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
}

label > input {
  width: auto;
  margin-left: 1rem;
  flex-grow: 1;
  margin-bottom: 1rem;
}
